* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body {
  height: 100vh;
  font-family: "Arial";
}

h4 {
  font-size: 0.85em;
}
li {
  font-size: 0.85em;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#info {
  text-align: left;
  padding-right: 3.6rem;
}
#info-icon {
  position: absolute;
  max-width: 1.2rem;
  padding: 1rem;
  opacity: 0.4;
  z-index: 1;
}
#info-icon:hover {
  cursor: pointer;
}
#info-text {
  color: rgba(255, 255, 255, 0.7);
  display: none;
  text-align: left;
  /* padding: 0.6rem 0.6rem;
  background-color: rgba(255, 255, 255, 0.2); */
  border-radius: 6px;

  position: absolute;
  top: 1.18rem;
  left: 2.7rem;
  z-index: 1;
}

/*hide info on small screens; assuming mobile lmao*/
@media only screen and (max-width: 480px) {
  #info {
    visibility: hidden;
  }
}
